* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  display: flex;
}
.loading-gif {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  mix-blend-mode: screen;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  margin: auto;
  position: relative;
  border: 25px solid white;
}
.gallery-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.img_gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.img_gallery_bg {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}
.icon-right {
  position: absolute;
  right: -4%;
  z-index: 5;
}
.icon-left {
  position: absolute;
  left: -4%;
  z-index: 5;
}
.icon-bottom {
  position: absolute;
  top: -12%;
  z-index: 1;
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

/* Picture component */

.picture-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  padding: 0 80px;
  align-items: center;
  z-index: 100;
  position: absolute;
  background-color: white;
}
.img {
  width: 60%;
  height: 80%;
  border: 10px solid #e1e1e1;
}
.picture-details {
  display: flex;
  flex-direction: column;
}
.icon-up {
  position: absolute;
  bottom: 15%;
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(0, 3px);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(0, 3px);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(0, 3px);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
